[submodule "frontend"]
	path = frontend
	url = https://github.com/eggyByte-technology/trading-system-demo-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/eggyByte-technology/trading-system-demo-backend.git
